<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/post.css">
    <title>Post</title>
</head>
<body>
    <form action="/posting" method="post">
        <div class="post">
            <label for="heading">Title</label>
            <input type="text"placeholder="Enter Tittle Name " name="Title">
            <br>
            <label for="post">Text</label>
            <input type="text"placeholder="Write your Post " id="Post" name="Post">
            <br>
            <form action="/posting" method="post">
                <button type="submit">Post</button>
            </form>
    </div>
        
    </form>
</body>
</html>